<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="com.Springcore.ci.Certificate" name="certificate">

		<constructor-arg name="certi"
			value="Android development" />

	</bean>

	<bean class="com.Springcore.ci.Person" name="person">
		<constructor-arg name="id" value="20" type="int" />
		<constructor-arg name="name" value="Awanish"
			type="String" />
		<constructor-arg ref="certificate" />

	</bean>

	<bean class="com.Springcore.ci.Addition" name="add">

		<constructor-arg value="12" />
		<constructor-arg value="32" />
		
	</bean>


</beans>